h2{
  color: black;
}

div.wrappers {
  flex-wrap: wrap;
}

form {
  width: 450px;
  list-style-type: none;
  margin: auto;
  margin-top: 16px;
  padding: 0 16px 16px 16px ;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: #fefefe;
}

select {
  display: block;
  width: 300px;
  margin-bottom: 8px;
}

input {
  display: block;
  width: 300px;
  margin-bottom: 8px;
}

.col-sm-6 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.grid-title {
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}
.grid-title:nth-child(1){
background-color: #FFB219;
}
.grid-title:nth-child(3){
background-color: #19FF44;
}
.grid-title:nth-child(5){
background-color: #FF2449;
}
.grid-title:nth-child(7){
  background-color: #B70DFF;
}

.raised {
  margin: 0;
}

.center {
  text-align: center;
}
