li {
  list-style-type: none;
  border-width: 2px;
  border-style: solid;
  margin: 8px auto;
  border-radius: 10px;
  padding: 0 16px 16px 16px ;
  background-color: #fefefe;
  width: 600px;
}

ul {
  padding: 0;
}

.center {
  text-align: center;
}

label {
  display : block;
}

.grid-container {
  display: grid;
  padding: 8px 8px 8px 0;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 8px;
  background-color: white;
  text-align: center;
}

.grid-content {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 0;
  transition: background-color 0.25s;
}

.grid-title {
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.main-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.grid-title:nth-child(1){
background-color: #FFB219;
}

.grid-title:nth-child(3){
background-color: #19FF44;
}

.grid-title:nth-child(5){
background-color: #FF2449;
}

.grid-title:nth-child(7){
  background-color: #B70DFF;
}
/* 
#FF9D24
#C0FF19
#FF0D00
#19B4FF
#B70DFF

#0D6FFF
#19FF44
#8400FF
#FFB219
#FF2449 
*/

/* TESTING CSS */
div.scrollmenu {
  overflow: auto;/*hidden*/
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  margin: 5px;
  width: 22%;
  color: black;
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: rgb(109, 109, 109);
}
div.scrollmenu a:active {
  background-color: rgb(61, 61, 61);
}