<ul class="Quiz">
  <li *ngFor="let quiz of quizes">
    <!-- <a routerLink="/quiz/{{quiz.id}}"> -->
    <p>Category : "{{ quiz.category }}".</p>
    <p>Diffuculty : {{ quiz.difficulty }}.</p>
    <p>Number of Questions : {{ quiz.numberOfQuestions }}.</p>
    <ul>
      <li *ngFor="let question of quiz.questions">
        <p>{{ question.question }}</p>
      </li>
    </ul>
    <!-- </a> -->
  </li>
</ul>
<!-- 
  numberOfQuestions: number;
  category: string;
  difficulty: string;
  questions: Question[]; 
-->