<ul class="Quiz">
  <li *ngFor="let quiz of quizes">
    <p>ID : {{ quiz.id }}.</p>
    <p>Category : "{{ quiz.category }}".</p>
    <p>Diffuculty : {{ quiz.difficulty }}.</p>
    <p>Number of Questions : {{ quiz.numberOfQuestions }}.</p>
    
    <ul>
      <li *ngFor="let question of quiz.questions">
        <p>{{ question }}</p>
      </li>
    </ul>
  </li>
</ul>

<a routerLink="/questions">All Questions</a>

<!-- 
  numberOfQuestions: number;
  category: string;
  difficulty: string;
  questions: Question[]; 
--> 