<ul>
  <li *ngFor="let quiz of quizes">
    <p>ID : {{ quiz.id }}.</p>
    <p>Category : "{{ quiz.category }}".</p>
    <p>Diffuculty : {{ quiz.difficulty }}.</p>
    <p>Number of Questions : {{ quiz.numberOfQuestions }}.</p>
    
    <div class="center">
      <a routerLink="/quiz/{{quiz.id}}">
        <button class="raised">Take the Quiz</button>
      </a>
    </div>

  </li>
</ul>

<form [formGroup]="genQuizForm" (ngSubmit)="onSubmit()">
  
  <label> Category : 
    <select formControlName="category">
      <option *ngFor="let category of categories" [ngValue]="category">{{ category }}</option>
    </select>
  </label>

  <label> Difficulty : 
    <select formControlName="difficulty">
      <option *ngFor="let difficulty of difficulties" [ngValue]="difficulty">{{ difficulty }}</option>
    </select>
  </label>

  <label> Number of Questions : 
    <input type="number" min="1" max="50" formControlName="numberOfQuestions">
  </label>

  <button class="raised" type="submit">Generate new Quiz</button>

	<p>Form Value: {{ genQuizForm.value | json }}</p>
	<p>Form Status: {{ genQuizForm.status }}</p>

</form>