li {
  list-style-type: none;
  border-width: 2px;
  border-style: solid;
  margin: 8px 0px;
  border-radius: 10px;
  padding: 0 16px 16px 16px ;
  background-color: #fefefe;
}

ul {
  padding: 0 40px;
}