/* UsersComponent's private CSS styles */
.question {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.question li {
  position: relative;
  cursor: pointer;
  background-color: #E8ECF0;
  margin: .5em;
  padding: .3em 0;
  height: 25px;
  border-radius: 4px;
  transition: 0.5s;
}

.question li:hover {
  background-color: #B8CACF;
  margin-left: 1em;
}

.question a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}