<div *ngIf="quiz">
  <p>ID : {{ quiz.id }}.</p>
  <p>Category : "{{ quiz.category }}".</p> 
  <p>Diffuculty : {{ quiz.difficulty }}.</p>

  <div *ngFor="let question of quiz.questions">
    <div class="question" *ngIf="question.id === questionNum">
    
      <p>Id : {{ question.id }}</p>
      <p>Category : "{{ question.category }}"</p> 
      <p>Diffuculty : {{ question.difficulty }}</p>
      <p>{{ question.question }}<p>
      
      <div class="grid-container">
        <button class="grid-content" *ngFor="let answer of question.answer" (click)="onClickAnswer(answer)">
          <span>{{ answer }}</span>
        </button>
      </div>
    
    </div>

  </div>

  <!-- Correct Answer -->
  <div class="question good-answer" *ngIf="questionNum % 1 !== 0 && quiz.questions[questionNum - 0.5].correct_answer === chosenAnswer">

    <div>
      <h3>Correct!</h3>
    </div>

    <button class="ghost" (click)="onClickNextStep(0)">
      <span>Next Question...</span>
    </button>

  </div>

  <!-- Wrong Answer -->
  <div class="question wrong-answer" *ngIf="questionNum % 1 !== 0 && quiz.questions[questionNum - 0.5].correct_answer !== chosenAnswer">

    <div>
      <h3>Wrong Answer</h3>
      <p>The correct answer was : {{ quiz.questions[questionNum - 0.5].correct_answer }}</p>
    </div>


    <button class="ghost" (click)="onClickNextStep(1)">
      <span>Next Question...</span>
    </button>

  </div>

  <!-- Final Results -->
  <div class="question" *ngIf="questionNum >= quiz.questions.length">

    <div>
      <h3>Final Results</h3>
      <p>Correct : {{ results[0] }}</p>
      <p>Incorrect : {{ results[1] }}</p>

    </div>


    <button class="ghost" (click)="goBack()">
      <span>Go Back</span>
    </button>

  </div>

</div>
  
 
<!-- if cant find the quiz -->
<div *ngIf="!quiz" class="wait">
  <h1>Error 404</h1>
  <h3>We can't seem to find what you are looking for</h3>
</div>