<div *ngIf="quiz">
  <p>ID : {{ quiz.id }}.</p>
  <p>Category : "{{ quiz.category }}".</p> 
  <p>Diffuculty : {{ quiz.difficulty }}.</p>

  <div class="question" *ngFor="let question of quiz.questions">
    <p>Id : {{ question.id }}</p>
    <p>Category : "{{ question.category }}".</p> 
    <p>Diffuculty : {{ question.difficulty }}.</p>
    <p>{{ question.question }}<p>
      <div class="grid-container">
        <div class="grid-content" *ngFor="let anwser of question.anwser">
          <span class="anwser">{{ anwser }}</span>
        </div>
      </div>
  </div>

</div>

 
<!-- if cant find the quiz -->
<div *ngIf="!quiz" class="wait">
  <h1>Error 404</h1>
  <h3>We can't seem to find what you are looking for</h3>
</div>